/* headline "Chat..." */
#text {
    font-size: 30px;
    margin-left: 2%;
}

/* div in which all chat messages will appear */
#chatbody {
    border: 1px white solid;
    background-color: #101F25;
    height: 400px;
    overflow-y: auto;
    padding: 20px;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

/* input div which contains the input form */
#input {
    width: 95%;
    height: 60px;
    overflow-y: auto;
    margin-left: 2%;
}

/* The input field itself */
#chatinput {
    width: 40%;
    border-radius: 0%;

}

#submit_button {
    margin-left: 10px;
    border-radius: 0%;
    width: 100px;
}

/* div which contains all buttons for emojis and styling */
#stylebuttons {
    margin-left: 2%;
}

/* the buttons themselves */
#buttons {
    margin-right: 7px;
    width: 50px;
}

/* Animation for the headline */
h1 {
    border-right: solid 3px rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
  }

  h1 {
    animation: animated-text 2s steps(7,end) 1s 1 normal both,
               animated-cursor 400ms steps(7,end) infinite;
  }
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 130px;}
  }
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(255, 255, 255, 0.75);}
    to{border-right-color: transparent;}
  }
