{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Log in</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "main.css" %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "login.css" %}'>
</head>
<body>
    <header id="nav">
       <div class="nav--list">
                <h3 id="logo">
                    <!-- <img src="" alt="Site Logo"> -->
                    <span>LOGO TITLE</span>
                </h3>
            </a>
       </div>
       <div id="nav__links">
        <a class="nav__link" id="main_btn" href="{% url 'index' %}">
            HOME
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ede0e0" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
        </a>
    </header>
    <main id="room__lobby__container">
        
        <div id="form__container">
             <div id="form__container__header">
                 <p>Log in to your account</p>
             </div>
 
 
            <form id="lobby__form" action="" method="post">
                {% csrf_token %}
                 <div class="form__field__wrapper">
                     <label>Username</label>
                     <input {% if error %}style="border=1px solid red"{% endif %} type="text" name="username" id="username" required placeholder="Enter your username or e-mail..." />
                 </div>
 
                 <div class="form__field__wrapper">
                     <label>Password</label>
                     <input {% if error %}style="border=1px solid red"{% endif %} type="password" name="password" id="password"  placeholder="Enter password..." />
                 </div>
 
                 <div class="form__field__wrapper">
                    <!-- href="{% url 'streaming' %}" should only redirect to page if auth is successful -->
                     <button type="submit" href="">Log in</button>
                 </div>
            </form>
        </div>
     </main>
</body>
</html>