{% load static %}
<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Streamchat</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href='{% static "chat.css" %}'/>
	<link rel="stylesheet" href='{% static "main.css" %}'/>
    </head>

    <body>
        <h1 class="chat" id="text">Chat...</h1>
        <div class="chat" id="wholechat">
            <div class="chat" id="chatbody">
                <!-- Content comes from server received by the WebSocket -->
            </div>
            <div class="chat" id="input">
                <form action="" onsubmit="sendMessage(event)">
                    <input name="color" type="color" id="color" value="#FFFFFF">
                    <input id="chatinput" name="chatinput" type="text" placeholder="enter text to chat... use the left button to select text color">
					<button id="submit_button">Send</button>
                </form>
            </div>
            <div class="chat" id="stylebuttons">
                <button id="buttons" onclick="makeBold()"><b>B</b></button>
                <button id="buttons" onclick="makeItalic()"><i>I</i></button>
                <button id="buttons" onclick="makeUnderlined()"><span style="text-decoration: underline;">U</span></button>
                <br />
                <!-- Generate buttons for emojis and colors via JavaScript -->
            </div>
        </div>

        <script lang="JavaScript">
            const emojis = ["128077", "128078", "128512", "128513", "128514", "128519", "128520",
                            "128521", "128533", "128550", "9917", "127942"];

            const colors = ["white", "blue", "green", "red", "yellow", "black"];

            function utf8ToHTML(input) {
                return "&#" + input + ";";
            }
            
            var buttonsDiv = document.getElementById("stylebuttons");
            for (let i = 0; i < emojis.length; i++) {
                let emojiButton = "<button onclick=\"addEmoji(" + i + ")\" id='buttons'>" + utf8ToHTML(emojis[i]) + "</button>";
                buttonsDiv.innerHTML += emojiButton;
            }

            buttonsDiv.innerHTML += "<br />";
            var blackSquare = utf8ToHTML("9632"); // UTF-8 code for black square

            var inputField = document.getElementById("chatinput");

            function addEmoji(index) {
                if (index >= 0 && index < emojis.length) {
                    inputField.value += utf8ToHTML(emojis[index]);
                }
            }

            var bold = false;
            var italic = false;
            var underlined = false;

            function makeBold() {
                if (bold) {
                    bold = false;
                } else {
                    bold = true;
                }
            }

            function makeItalic() {
                if (italic) {
                    italic = false;
                } else {
                    italic = true;
                }
            }

            function makeUnderlined() {
                if (underlined) {
                    underlined = false;
                } else {
                    underlined = true;
                }
            }

			const wsURL = "ws://" + window.location.host + "/ws/test/";
			const wsPort = 8000;
			var websocket = new WebSocket(wsURL, wsPort);
			var chatbody = document.getElementById("chatbody");

            // ws handlers
			websocket.onmessage = function(event) {
                let dataObj = JSON.parse(event.data)

                let fontWeight = "normal"
                let fontStyle = "normal"
                let border = "none"

                if (dataObj.bold){
                    fontWeight = "bolder"
                }
                if (dataObj.italic){
                    fontStyle = "italic"
                }
                if (dataObj.underlined){
                    border = `1px solid ${dataObj.color}`
                }

				chatbody.innerHTML += (`<span style="font-weight: bolder">${dataObj.user}:</span> <span style="color:${dataObj.color}; font-weight:${fontWeight}; font-style:${fontStyle}; border-bottom: ${border}">${dataObj.message}</span> <br/>`);
			};
			
			function sendMessage(event) {
                console.log("sending", bold, italic, underlined)
                event.preventDefault()
				var input = document.getElementById("chatinput");
                var inputText = input.value;
                currColor = document.getElementById("color").value;

                const data = {
                    message: inputText,
                    bold: bold,
                    italic: italic,
                    underlined: underlined,
                    color: currColor
                }
				websocket.send(JSON.stringify(data));
				input.value = '';
				event.preventDefault();
			}


            websocket.onclose = function(event) {
                chatbody.innerHTML += ("<p style=\"color:red; font-size:20px\">Verbindung zum Chat wurde unterbrochen!</p>");
            }
        </script>
    </body>
</html>
