#settings_title {
    text-align: center;
    margin-top: 20%;
    font-weight: 100;
  }

.animate-charcter
{
   text-align: center;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    font-size: 90px;
    margin-top: 17%;
    
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}